/* 745px */

@media (max-width: 745px) {

    /* header */

    header {
        padding-inline: 32px;
    }

    /* cover  */

    .cover {
        height: 400px;
        padding-inline: 32px;
    }

    /* section 3 */

    .guitar_picks {
        height: 596px;
        padding-inline: 32px;
    }

    /* section 4 */

    .cards {
        padding-block: 48px;
    }

    /* section 5 */

    .cards2 {
        padding-block: 48px;
    }
}




/* 708px */

@media (max-width: 708px) {}


/* 565px */

@media (max-width: 565px) {
    /* section 1 */

    .guitar_types {
        padding-block: 16px;
    }

    .guitars {
        padding: 8px;
        font-size: 16px;
        line-height: 24px;
    }

    /* cover  */

    .coverp,
    .coverSpan {
        font-size: 24px;
        line-height: 32px;
    }

    /* section 6 form  */

    .form_section {
        height: 168px;
    }

    .form_title {
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 24px;
    }

    .home_form_div {
        width: 320px;

    }
}